<%- include( "partials/head", { title: 'Workshops App | Home' } ) -%> <%-
include( "partials/nav" ) -%>
<h1>Workshops app</h1>
<hr />
<p>You can view/update workshops, session here, and also add new ones.</p>
<%- include( "partials/foot" ) -%>
