<%- include( "partials/head", { title: 'Workshops' } ) -%> <%- include(
"partials/nav" ) -%>
<h1>List of workshops</h1>
<hr />
<div>
  <% if( workshops.length === 0 ) { %>
  <p>No workshops to show</p>
  <% } %>
  <ul>
    <% workshops.forEach(workshop => { %>
    <li><%= workshop.name %></li>
    <% }); %>
  </ul>
</div>
<%- include( "partials/foot" ) -%>
