<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workshops</title>
  </head>
  <body>
    <h1>List of workshops</h1>
    <hr />
    <div>
      <ul>
        <% workshops.forEach(workshop => { %>
        <li><%= workshop.name %></li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
